/* 
---01 TYPOGRAPHY SYSTEM


- FONT SIZES
 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 
 / 44 / 52 / 62 / 74 / 86 / 98
 
 - FONT WEIGHT 
 DEFAULT: 400
 
 - LINE HEIGHTS
 DEFAULT: 1
 
 -- 02 COLORS
 
 - PRIMARY: #E67E22
 - GREYS: #555, #333;

 --- SPACING SYSTENM 
  2 / 4 / 6 / 8 / 12 / 16 / 24 / 32 / 48
  / 64 / 80 / 96 / 128 
 */

* {
  margin: 0;
  padding: 0;
  block-size: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: rubik, sans-serif;
  line-height: 1;
  overflow-x: hidden;
}

/*************************************/
/* NAV SECTION */
/*************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.nav-cta {
  /* height: auto;
  width: auto; */
  display: flex;
  /* justify-content: center; */
  /* margin-top: 0.6rem; */
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  height: 2rem;
  /* width: 13rem; */
  padding: 5px 3rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
/* ///////////////// */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
  width: auto;
}
/**************************/
/* NAVIGATION */
/***************************/
.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}

nav {
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: #fdf2e9;
}

.navbar-brand {
  position: relative;
  height: 7rem;
  width: 9rem;
}

a.nav-link {
  font-size: 1.2rem;
  height: 4rem;
}

div.offcanvas-header {
  background-color: #fdf2e9;
  margin-bottom: 1.5rem;
}

ul {
  gap: 6rem;
}

.navbar-togller {
  margin-left: 33rem;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/*************************************/
/* HERO SECTION */
/*************************************/

.section-header {
  background-color: #fdf2e9;
  min-height: 70rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 4rem 3.2rem 0 3.2rem;
  max-width: 1300px;
  /* background-color: aqua; */
  gap: 10rem;
}

.sumary {
  /* margin: 2rem 0; */
}

.sumary a {
  text-decoration: none;
  font-size: 2.4rem;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 1rem;
  margin: 1rem;
}

.hero-img {
  width: 100%;
}

.header-title {
  font-size: 5rem;
  line-height: 5rem;
  margin: 4rem 0 2rem 0;
  opacity: 80%;
  font-weight: 700;
  /* font-family: rubik, sans-serif; */
}

.sumary-paragraph {
  opacity: 70%;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 4rem;
  line-height: 3.5rem;
}

.call-to-action {
  font-weight: 500;
  font-size: 4rem;
  color: white;
  background-color: #e67e22;
  transition-duration: 0.3s;
}

.call-to-action:hover {
  background-color: #c6712b;
}

.learn-more {
  color: black;
  background-color: white;
  transition-duration: 0.3s;
}

.learn-more:hover {
  background-color: #fffbf7d3;
}

.customer-box {
  display: flex;
  bottom: 0;
  margin-top: 6rem;
}

.customer-img {
  border-radius: 50%;
  height: 3.4rem;
  width: 3.4rem;
  margin-left: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-text {
  font-weight: 600;
  font-size: 1.8rem;
  margin: 1rem auto;
}

.delivered-text span {
  color: #e98432;
}

.section-featured-in {
  height: 15rem;
  padding: 5rem;
  font-size: 2rem;
}

/*************************************/
/* FEATIURED IN SECTION */
/*************************************/

.featured-in-container {
  display: flex;
  flex-direction: column;
}

.as-featured-in {
  text-align: center;
  padding-bottom: 2rem;
}

.company-logos img {
  max-width: 18rem;
  max-height: 32px;
  align-self: center;
  filter: grayscale(100%);
  opacity: 60%;
}

.company-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 3rem;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.company-logos div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-how {
  padding: 0px 10%;
  width: fit-content;
}

.intro-h4 {
  font-size: 1.5rem;
  color: #e67e22;
  padding-bottom: 10px;
  letter-spacing: 1.8px;
}

.intro-h1 {
  font-size: 4.3rem;
  margin-bottom: 10rem;
  max-width: 100%;
  color: #333232;
}

/*************************************/
/* Z SHAPE */
/*************************************/

.section-how {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.z-shape img {
  width: 20rem;
  height: 40rem;
  /* justify-self: center; */
  align-self: center;
}

.z-shape {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 5rem;
  row-gap: 10rem;
  padding-bottom: 18rem;
  max-width: 120rem;
  margin: 0 auto;
}

.z-shape div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.z-shape span {
  font-weight: 600;
  font-size: 9rem;
  opacity: 10%;
}

.z-shape h1 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  display: flex;
}

.intro-h1 {
  display: flex;
  justify-content: center;
}

.intro-h4 {
  display: flex;
  justify-content: center;
}

.general-text {
  font-size: 2rem;
  line-height: 3.5rem;
  opacity: 80%;
}

/*************************************/
/* RECIPE SECTION */
/*************************************/

.section-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0.5rem; */
  padding-bottom: 8rem;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 2rem;
  gap: 8rem;
  padding-bottom: 2rem;
  max-width: 120rem;
  padding-bottom: 4rem;
}

.recipe-border:hover {
  transition: all 0.5s;
  transform: translateY(-20px);
  max-width: 34rem;
  /* height: 34rem; */
  /* height: auto; */
}

.recipe-border {
  box-shadow: 5px 26px 20px rgba(84, 82, 82, 0.081);
}

.center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container img {
  border-radius: 0.7rem 0.7rem 0 0;
  width: 100%;
  /* height: 100%; */
}

.tag {
  font-size: 1.2rem;
  font-weight: 520;
  display: inline-block;
  align-items: center;
  padding: 0.2rem 0.5rem;
  border-radius: 0.7rem;
  background-color: rgba(2, 166, 2, 0.846);
  margin-bottom: 0.8rem;
}

.recipe-name {
  font-size: 2.5rem;
  font-weight: 550;
  margin-bottom: 2.5rem;
}

.meal-content {
  padding: 2rem 4rem;
}

.meal-specs {
  font-size: 1.8rem;
  line-height: 4.4rem;
}

ul {
  list-style-type: none;
}

.diet-list h1 {
  font-size: 3rem;
  margin-bottom: 4rem;
}

.ion-icon {
  font-size: 1.8rem;
  font-weight: 600;
  color: #bd5903;
  margin-right: 0.8rem;
  margin-left: 0.5rem;
}

.ishuu p {
  display: flex;
  gap: 5px;
  align-items: center;
}

.recipe-anchor {
  font-size: 1.4rem;
  color: #e67e22;
  margin: 0 auto;
}

.meal-details {
  width: 30rem;
}

/*************************************/
/* TESTIMONOIALS SECTION */
/*************************************/

.testimonials {
  background-color: #fdf2e9;
  align-items: center;
}
.testimonial-gallery-container {
  display: flex;
  gap: 10rem;
}

.testimonials-container {
  padding: 10rem 0;
  padding-left: 10rem;
}

.testimonial-items {
  display: grid;
  grid-template-columns: 55fr 45fr;
  column-gap: 8rem;
  row-gap: 4rem;
  width: auto;
}
.testimonial-item {
  max-width: 104rem;
}

.testimonial-item img {
  max-width: 6.6rem;
  border-radius: 50%;
}

.testimonial-text {
  opacity: 60%;
  line-height: 3.2rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.testimonial-item span {
  font-size: 1.8rem;
  opacity: 60%;
}

.gallery-container {
  padding: 1.8rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.8rem;
  row-gap: 1.8rem;
  align-content: center;
  padding-right: 15px;
}
.gallery-container img {
  width: 100%;
}

/*************************************/
/* PRICING SECTION */
/*************************************/

.section-price {
  /* height: fit-content; */
  margin-bottom: 6.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.price-headers {
  padding: 0 15%;
  padding-top: 10rem;
}

.pricing-cards {
  /* max-width: 800rem; */
  /* max-width: 798px; */
  justify-content: center;
  max-width: 80rem;
  height: auto;
  column-gap: 6rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-header {
  align-self: center;
  color: #e67e22;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.Price {
  display: flex;
  justify-content: center;
  /* align-self: center; */
  font-weight: 600;
  /* background-color: red; */
  font-size: 5rem;
  margin-bottom: 2rem;
}

.Price span {
  font-size: 2.8rem;
  padding-right: 6px;
}

.p-card {
  display: flex;
  flex-direction: column;
  border: 0.15rem solid #fdf2e9;
  border-radius: 0.5rem;
  padding: 3rem;
}

.p-card a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  display: inline-block;
  padding: 1.5rem 2rem;
  width: auto;
  align-self: center;
  align-content: center;
  border-radius: 1rem;
  margin: 1rem;
  margin-top: 1.8rem;
}

.per-month {
  font-size: 1.4rem;
  align-self: center;
  opacity: 60%;
  margin-bottom: 3rem;
}

.product-specs {
  font-size: 1.6rem;
  opacity: 70%;
}

.product-specs li {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
  line-height: 2rem;
}

.Complete-div {
  background-color: #fdf2e9;
}

.taxes {
  display: flex;
  justify-content: center;
  width: fit-content;
  opacity: 60%;
  font-size: 1.4rem;
  margin: 2rem auto;
}

.plan-specs-div {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin: 0 4rem;
  padding-top: 5.2rem;
}

.plan-spec {
  width: 21rem;
}

.plan-icon {
  width: 100%;
  height: 100%;
  color: #cf670cd4;
  align-self: center;
}

.circle {
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 1.5rem;
  border-radius: 50%;
  background-color: #e67d221d;
}

.plan-header {
  margin-top: 2.8rem;
  margin-bottom: 1.8rem;
  font-size: 2.2rem;
}

.plan-summary {
  font-size: 1.6rem;
  line-height: 3rem;
}

/*************************************/
/* PS SECTION */
/*************************************/

.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */
  display: flex;
  justify-content: center;
  /* top / horizontal / left */
  padding: 4.8rem 0 2rem;
}

.cta-container {
  max-width: 110rem;
  max-height: 50rem;
  padding: 0 3rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  height: 50rem;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
  height: fit-content;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("/content/img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
  border: none;
  border-radius: 1rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

/*************************************/
/* FOOTER SECTION */
/*************************************/

footer {
  display: grid;
  max-width: 110rem;
  min-height: auto;
  margin: 12rem auto;
  padding: 0 1.2rem;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.063);
  display: flex;
  gap: 7rem;
  /* height: 30rem; */
  padding-top: 3rem;
  height: fit-content;
}

.footer-div {
  height: fit-content;
  display: flex;
  flex-direction: column;
  max-width: 22rem;
  /* padding-top: 10rem;
  padding-bottom: 12rem; */
}

.footer-header {
  font-size: 1.8rem;
  padding-bottom: 3rem;
  font-weight: 600;
}
.no-margin {
  margin: 0;
  padding-bottom: 3rem;
}
.footer-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #777;
  line-height: 4rem;
}

.footer-logos ion-icon {
  display: inline-block;
  padding-right: 1.6rem;
  font-size: 2.2rem;
}

.copyright {
  font-size: 1.3rem;
  padding-top: 6rem;
  color: #777;
  line-height: 2.2rem;
}

.address {
  display: inline-block;
  padding-bottom: 1.2rem;
  line-height: 2.4rem;
}

.cel {
  padding-bottom: 1rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: #777;
}

.email {
  font-size: 1.6rem;
  text-decoration: none;
  color: #777;
}
